.TodoCounter {
  font-size: 24px;
  text-align: center;
  color: rgb(7, 43, 98);
  font-family: "Carter One";
  margin: 0;
  padding: 48px;
}

.progress-bar{
  background-color:#5BAC34
}

.icon {
  margin-right: 10px;
}